openapi: 3.0.0
info:
  title: Sales Reporting API
  description: API для управления данными о дилерах, продуктах, продажах, остатках и планах продаж.
  version: 1.0.0

servers:
  - url: https://api.report.ru/v1
    description: Production server

tags:
  - name: Dealers
    description: Операции с дилерами
  - name: Products
    description: Операции с продуктами
  - name: Sales
    description: Операции с продажами
  - name: Inventory
    description: Операции с остатками на складе
  - name: SalesPlans
    description: Операции с планами продаж
  - name: Reports
    description: Генерация отчетов
  - name: Authentication
    description: Аутентификация и управление пользователями

paths:
  /dealers:
    get:
      tags:
        - Dealers
      summary: Получение списка дилеров
      responses:
        '200':
          description: Список дилеров успешно получен
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Dealer'
    post:
      tags:
        - Dealers
      summary: Добавление нового дилера
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Dealer'
      responses:
        '201':
          description: Дилер успешно добавлен

  /dealers/{dealerId}:
    get:
      tags:
        - Dealers
      summary: Получение информации о конкретном дилере
      parameters:
        - in: path
          name: dealerId
          required: true
          schema:
            type: string
          description: Идентификатор дилера
      responses:
        '200':
          description: Информация о дилере успешно получена
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Dealer'

  /products:
    get:
      tags:
        - Products
      summary: Получение списка продуктов
      responses:
        '200':
          description: Список продуктов успешно получен
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Product'
    post:
      tags:
        - Products
      summary: Добавление нового продукта
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Product'
      responses:
        '201':
          description: Продукт успешно добавлен
    put:
      tags:
        - Products
      summary: Редактирование продукта
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Product'
      responses:
        '200':
          description: Продукт успешно изменен
    delete:
      tags:
        - Products
      summary: Удаление продукта
      parameters:
        - in: query
          name: productId
          schema:
            type: integer
          description: Идентификатор продукта
      responses:
        '200':
          description: Продукт успешно удален

  /sales:
    get:
      tags:
        - Sales
      summary: Получение списка продаж
      parameters:
        - in: query
          name: dealerId
          schema:
            type: string
          description: Фильтр по идентификатору дилера
        - in: query
          name: productId
          schema:
            type: string
          description: Фильтр по идентификатору продукта
      responses:
        '200':
          description: Список продаж успешно получен
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Sale'
    post:
      tags:
        - Sales
      summary: Добавление новой продажи
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Sale'
      responses:
        '201':
          description: Продажа успешно добавлена

  /inventory:
    get:
      tags:
        - Inventory
      summary: Получение данных об остатках на складе
      parameters:
        - in: query
          name: dealerId
          schema:
            type: string
          description: Фильтр по идентификатору дилера
        - in: query
          name: productId
          schema:
            type: string
          description: Фильтр по идентификатору продукта
      responses:
        '200':
          description: Данные об остатках успешно получены
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Inventory'
    post:
      tags:
        - Inventory
      summary: Обновление данных об остатках на складе
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Inventory'
      responses:
        '201':
          description: Данные об остатках успешно обновлены

  /sales-plans:
    get:
      tags:
        - SalesPlans
      summary: Получение списка планов продаж
      parameters:
        - in: query
          name: dealerId
          schema:
            type: string
          description: Фильтр по идентификатору дилера
        - in: query
          name: productId
          schema:
            type: string
          description: Фильтр по идентификатору продукта
      responses:
        '200':
          description: Список планов продаж успешно получен
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SalesPlan'
    post:
      tags:
        - SalesPlans
      summary: Добавление нового плана продаж
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SalesPlan'
      responses:
        '201':
          description: План продаж успешно добавлен

  /reports:
    get:
      tags:
        - Reports
      summary: Генерация отчета
      parameters:
        - in: query
          name: dealerId
          schema:
            type: string
          description: Идентификатор дилера (опционально)
        - in: query
          name: productId
          schema:
            type: string
          description: Идентификатор продукта (опционально)
        - in: query
          name: month
          schema:
            type: string
            format: date
          description: Месяц отчета (опционально)
      responses:
        '200':
          description: Отчет успешно сгенерирован
          content:
            application/json:
              schema:
                type: object
                properties:
                  dealerId:
                    type: string
                  productId:
                    type: string
                  totalSales:
                    type: integer
                  totalRevenue:
                    type: number
                    format: float
                  inventoryRemaining:
                    type: integer
                  plannedSales:
                    type: integer

  /auth/login:
    post:
      tags:
        - Authentication
      summary: Вход в систему
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                username:
                  type: string
                password:
                  type: string
      responses:
        '200':
          description: Успешная аутентификация
          content:
            application/json:
              schema:
                type: object
                properties:
                  accessToken:
                    type: string
                  refreshToken:
                    type: string

  /auth/logout:
    post:
      tags:
        - Authentication
      summary: Выход из системы
      responses:
        '204':
          description: Успешный выход

components:
  schemas:
    Dealer:
      type: object
      properties:
        dealer_id:
          type: string
          format: uuid
        name:
          type: string
        location:
          type: string

    Product:
      type: object
      properties:
        product_id:
          type: string
          format: uuid
        name:
          type: string
        category:
          type: string
        price:
          type: number
          format: float

    Sale:
      type: object
      properties:
        sale_id:
          type: string
          format: uuid
        dealer_id:
          type: string
        product_id:
          type: string
        date:
          type: string
          format: date
        quantity:
          type: integer
        total_amount:
          type: number
          format: float

    Inventory:
      type: object
      properties:
        inventory_id:
          type: string
          format: uuid
        dealer_id:
          type: string
        product_id:
          type: string
        stock_level:
          type: integer
        last_updated:
          type: string
          format: date-time

    SalesPlan:
      type: object
      properties:
        plan_id:
          type: string
          format: uuid
        dealer_id:
          type: string
        product_id:
          type: string
        month:
          type: string
          format: date
        planned_sales:
          type: integer
